{{> nav_studio}}



<div class="about-title d-flex justify-content-center align-items-center">
  <p>課程一覽</p>
</div>

<form action="/{{ studio.subdomain }}/course" method="GET" id="select-week">
  <input type="week" id="week" name="week" value="{{theYear}}-W{{theWeek}}">
  <button type="submit">查詢</button>
</form>



<div class="d-flex flex-column" id="curriculum">
  
  {{!-- 日期 --}}
  <section id="title-section" class="d-flex align-items-center justify-content-between align-items-stretch">

    <div class="period d-flex flex-column align-items-center"></div>

    <div class="period d-flex flex-column align-items-center">
      <span>{{organizedCourseDetailList.Monday.date}}</span>
      <span>週一</span>
    </div>

    <div class="period d-flex flex-column align-items-center">
      <span>{{organizedCourseDetailList.Tuesday.date}}</span>
      <span>週二</span>
    </div>

    <div class="period d-flex flex-column align-items-center">
      <span>{{organizedCourseDetailList.Wednesday.date}}</span>
      <span>週三</span>
    </div>

    <div class="period d-flex flex-column align-items-center">
      <span>{{organizedCourseDetailList.Thursday.date}}</span>
      <span>週四</span>
    </div>

    <div class="period d-flex flex-column align-items-center">
      <span>{{organizedCourseDetailList.Friday.date}}</span>
      <span>週五</span>
    </div>

    <div class="period d-flex flex-column align-items-center">
      <span>{{organizedCourseDetailList.Saturday.date}}</span>
      <span>週六</span>
    </div>

    <div class="period d-flex flex-column align-items-center">
      <span>{{organizedCourseDetailList.Sunday.date}}</span>
      <span>週日</span>
    </div>
  </section>




  {{!-- Morning --}}
  <section class="d-flex align-items-center justify-content-between align-items-stretch time-slot-section">

    <div class="period time-slot">
      <span>Morning</span>
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Monday.morning}}
      <div class="d-flex flex-column align-items-center course-detail design-1">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>


        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>

          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
        

        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
            {{#canBook ../this.online_limitation}}
            <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
              <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
              <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
              {{#compare ../this.is_oneOnOne 0}}
              <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
              {{else}}
              <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
              {{/compare}}
              <button type="submit" class="register-course">預約</button>
            </form>
            {{else}}
            <button class="empty">預約已滿</button>
            {{/canBook}}
          {{/compare}}
        </div>
        
    
      </div>
      {{/each}}
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Tuesday.morning}}
      <div class="d-flex flex-column align-items-center course-detail design-2">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
      
      
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
      
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
      
      
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
      
      
      </div>
      {{/each}}
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Wednesday.morning}}
      <div class="d-flex flex-column align-items-center course-detail design-3">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
      
      
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
      
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
      
      
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
      
      
      </div>
      {{/each}}
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Thursday.morning}}
      <div class="d-flex flex-column align-items-center course-detail design-4">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
      
      
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
      
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
      
      
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
      
      
      </div>
      {{/each}}
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Friday.morning}}
      <div class="d-flex flex-column align-items-center course-detail design-1">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
      
      
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
      
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
      
      
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
      
      
      </div>
      {{/each}}
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Saturday.morning}}
      <div class="d-flex flex-column align-items-center course-detail design-2">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
      
      
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
      
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
      
      
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
      
      
      </div>
      {{/each}}
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Sunday.morning}}
      <div class="d-flex flex-column align-items-center course-detail design-3">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
      
      
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
      
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
      
      
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
      
      
      </div>
      {{/each}}
    </div>

  </section>




  {{!-- afternoon --}}
  <section class="d-flex align-items-center justify-content-between align-items-stretch time-slot-section">
    <div class="period time-slot">
      <span>Afternoon</span>
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Monday.afternoon}}
      <div class="d-flex flex-column align-items-center course-detail design-3">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Tuesday.afternoon}}
      <div class="d-flex flex-column align-items-center course-detail design-4">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Wednesday.afternoon}}
      <div class="d-flex flex-column align-items-center course-detail design-1">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Thursday.afternoon}}
      <div class="d-flex flex-column align-items-center course-detail design-2">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Friday.afternoon}}
      <div class="d-flex flex-column align-items-center course-detail design-3">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Saturday.afternoon}}
      <div class="d-flex flex-column align-items-center course-detail design-4">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Sunday.afternoon}}
      <div class="d-flex flex-column align-items-center course-detail design-1">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>

  
  </section>






  {{!-- evening --}}
  <section class="d-flex align-items-center justify-content-between align-items-stretch time-slot-section">
    <div class="period time-slot">
      <span>Evening</span>
    </div>

    <div class="period">
      {{#each organizedCourseDetailList.Monday.evening}}
      <div class="d-flex flex-column align-items-center course-detail design-4">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Tuesday.evening}}
      <div class="d-flex flex-column align-items-center course-detail design-1">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Wednesday.evening}}
      <div class="d-flex flex-column align-items-center course-detail design-2">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Thursday.evening}}
      <div class="d-flex flex-column align-items-center course-detail design-3">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Friday.evening}}
      <div class="d-flex flex-column align-items-center course-detail design-4">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Saturday.evening}}
      <div class="d-flex flex-column align-items-center course-detail design-1">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    
    <div class="period">
      {{#each organizedCourseDetailList.Sunday.evening}}
      <div class="d-flex flex-column align-items-center course-detail design-2">
        <span class="course-title">{{this.title}} - {{this.point}} 點</span>
        <span class="course-teacher">（{{this.name}}）</span>
        <span class="course-time">{{this.start_time}}-{{this.end_time}}</span>
    
    
        <div class="d-flex align-items-center book-div">
          <span class="course-limitation">空位: {{this.limitation}}</span>
    
          {{#canBook this.limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=0 style="display: none">
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
        </div>
    
    
        <div class="d-flex align-items-center book-div">
          {{#compare this.is_online 1}}
          <span class="course-limitation">線上空位: {{../this.online_limitation}}</span>
          {{#canBook ../this.online_limitation}}
          <form action="/{{../../studio.subdomain}}/registration" method="GET" class="d-flex align-items-center">
            <input type="number" id="courseDetailId" name="courseDetailId" value="{{../this.id}}" style="display: none">
            <input type="number" id="isOnline" name="isOnline" value=1 style="display: none">
            {{#compare ../this.is_oneOnOne 0}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=0 style="display: none">
            {{else}}
            <input type="number" id="isOneOnOne" name="isOneOnOne" value=1 style="display: none">
            {{/compare}}
            <button type="submit" class="register-course">預約</button>
          </form>
          {{else}}
          <button class="empty">預約已滿</button>
          {{/canBook}}
          {{/compare}}
        </div>
    
    
      </div>
      {{/each}}
    </div>
    


    
  </section>

</div>

