<nav class="nav-bar d-flex justify-concent-evenly align-items-end">

  <div id="nav-left" class="d-flex justify-concent-around align-items-end">
    <a href="/{{ studio.subdomain}}/admin">
      <img src={{ studio.logo }} alt="logo" id="nav-logo">
    </a>
    <div id="nav-studio-name">{{ studio.name }}</div>
  </div>

  <div id="nav-right" class="d-flex justify-concent-around align-items-center">
    <ul id="nav-links" class="d-flex">

      <li class="nav-li">
        <a href="/{{ studio.subdomain}}/admin/price" class="nav-link">
          價格維護
        </a>
      </li>

      <li class="nav-li">
        <a href="/{{ studio.subdomain}}/admin/courses" class="nav-link">
          課程維護
        </a>
      </li>

      <li class="nav-li">
        <a href="/{{ studio.subdomain}}/admin/teachers" class="nav-link">
          師資維護
        </a>
      </li>

      <li class="nav-li">
        <a href="/{{ studio.subdomain}}/admin/about" class="nav-link">
          Studio 資訊維護
        </a>
      </li>

      <li class="nav-li">
        <a href="/user/logout" class="nav-link">
          Logout
        </a>
      </li>
    </ul>
  </div>

</nav>