<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {{!-- adjust icon base on studio --}}
  {{#if studio.logo}}
  <link rel="icon" href="{{studio.logo}}">
  {{else}}
  <link rel="icon" href="/namaste/namaste_logo.png">
  {{/if}}

  {{!-- adjust title base on studio name --}}
  {{#if studio.name}}
  <title>{{studio.name}} | Namaste</title>
  {{else}}
  <title>Namaste</title>
  {{/if}}

  {{!-- google font --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  {{!-- css style --}}
  <link rel="stylesheet" href="/style/style.css"></link>
  <link rel="stylesheet" href="/style/nav.css"></link>
  <link rel="stylesheet" href="/style/admin_root.css"></link>
  <link rel="stylesheet" href="/style/user.css"></link>

  {{!-- sweet alert --}}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {{!-- font awesome --}}
  <script src="https://kit.fontawesome.com/ae618af5c4.js" crossorigin="anonymous"></script>
</head>


<body 
  {{#if studio.backgroundColor}} style="background-color: {{studio.backgroundColor}}" 
  {{else}} style="background-color: #F8F6F5" 
  {{/if}}
>

  {{{ body }}}
  {{> messages}}
  {{> footer}}
</body>

</html>