<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{#if studio.name}}
    {{studio.name}}
    {{else}}
    Namaste
    {{/if}}
  </title>
</head>
<body style="background-color: {{studio.mainColor}}">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">{{studio.name}}</a>
    </div>
  </nav>

  {{{ body }}}
  
</body>
</html>