<link rel="stylesheet" href="/style/home.css"></link>

{{> nav_general}}
<div class="d-flex justify-content-center align-items-center ">
  
  <div class="d-flex flex-column" id="home-title-intro">
    <h1>Namaste</h1>
    <span>為瑜珈而生的雲端管理系統</span>
    <span>/ 為妳打造的一站式瑜珈平台</span>
  </div>

  <img src="/namaste/home_move.gif" alt="" id="home-gif">
</div>


<div id="home-hr"></div>

<h1 id="home-studio-list-title">教室列表</h1>

<section class="d-flex flex-wrap justify-content-start" id="studio-card-section">
  {{#each studioList}}
  <div class="d-flex flex-column align-items-center studio-card">
    <a href="/{{this.subdomain}}">
      <img src="{{this.logo}}" alt="{{this.name}}-logo" class="home-studio-logo">
    </a>
    <a href="/{{this.subdomain}}" class="studio-card-name">
      <span >{{this.name}}</span>
    </a>

    <div class="d-flex flex-column justify-content-around home-studio-content">
      <span class="studio-card-introduction">{{this.introduction_detail}}</span>

      <span class="studio-card-address">
        <i class="fas fa-map-marker-alt"></i>
        {{this.address}}
      </span>
    </div>

  </div>
  {{/each}}
</section>



<script>
  window.onload = () => {
    document.getElementById('home-gif').src = document.getElementById('home-gif').src
  }
</script>