{{> nav_admin_root}}

<div class="d-flex align-items-stretch justify-content-center super-admin-div">
  <section id="super-admin-title-left">
    <span>Create Studio</span>
    <hr id="hr">
  </section>

  <section id="super-admin-create-studio-section">
    <form action="/admin/studio" method="POST" enctype="multipart/form-data" id="super-admin-create-studio-form">
      <div>
        <label for="name">教室名稱 *</label>
        <input type="text" id="name" name="name" {{#if input.name}} value="{{input.name}}" {{/if}} required>
      </div>

      <div>
        <label>Logo 圖檔 *</label>
        <input type="file" id="logo" name="logo" class="upload-pic-btn" required>
        <p class="photo-limit">圖片格式僅限 jpg/ jpeg/ png 檔，檔案上限 1 MB</p>
      </div>
      
      <div>
        <label for="introduction_title">簡介</label>
        <input type="text" id="introduction_title" name="introduction_title" {{#if input.introduction_title}} value="{{input.introduction_title}}" {{/if}}>
        
      </div>

      <div>
        <label for="introduction_detail">詳細介紹</label>
        {{#if input.introduction_detail}}
          <textarea rows="5" id="introduction_detail" name="introduction_detail">{{input.introduction_detail}}</textarea>
        {{else}}
          <textarea rows="5" id="introduction_detail" name="introduction_detail"></textarea>
        {{/if}}
      </div>

      <div>
        <label>介紹圖片</label>
        <input type="file" id="introduction_photo" name="introduction_photo" class="upload-pic-btn">
        <p class="photo-limit">圖片格式僅限 jpg/ jpeg/ png 檔，檔案上限 1 MB</p>
      </div>

      <div>
        <label for="subdomain">Subdomain *</label>
        <input type="text" id="subdomain" name="subdomain" {{#if input.subdomain}} value={{input.subdomain}} {{/if}} required>
      </div>

      <div>
        <label for="manager">管理人員 email 帳號 *</label>
        <input type="text" id="manager" name="manager" {{#if input.manager}} value="{{input.manager}}" {{/if}} required>
      </div>

      <div>
        <label for="address">地址 *</label>
        <input type="text" id="address" name="address" {{#if input.address}} value="{{input.address}}" {{/if}} required>
      </div>

      <div>
        <label for="address_description">地址詳細資訊</label>
        {{#if input.address_description}}
        <textarea rows="5" id="address_description" name="address_description">{{input.address_description}}</textarea>
        {{else}}
        <textarea rows="5" id="address_description" name="address_description"></textarea>
        {{/if}}
      </div>

      <div>
        <label for="phone">電話</label>
        <input type="text" id="phone" name="phone" {{#if input.phone}} value="{{input.phone}}" {{/if}}>
      </div>

      <div>
        <label for="tappay_app_key">TapPay App Key *</label>
        <input type="text" id="tappay_app_key" name="tappay_app_key" {{#if input.tappay_app_key}} value="{{input.tappay_app_key}}" {{/if}} required>
      </div>

      <div>
        <label for="tappay_partner_key">TapPay Partner Key *</label>
        <input type="text" id="tappay_partner_key" name="tappay_partner_key" {{#if input.tappay_partner_key}} value="{{input.tappay_partner_key}}" {{/if}} required>
      </div>

      <div>
        <label for="tappay_id">TapPay ID *</label>
        <input type="text" id="tappay_id" name="tappay_id" {{#if input.tappay_id}} value="{{input.tappay_id}}" {{/if}} required>
      </div>

      <div>
        <label for="tappay_app_id">TapPay App ID *</label>
        <input type="text" id="tappay_app_id" name="tappay_app_id" {{#if input.tappay_app_id}} value="{{input.tappay_app_id}}" {{/if}} required>
      </div>

      <button type="submit">建立</button>
    </form>
  </section>
</div>
