{{> nav_admin_studio}}

<a href="/{{studio.subdomain}}/admin/course/create">建立課程</a>

{{#if courseList}}
<table id="price-table">
  <thead id="price-head">
    <tr>
      <th>課程名稱</th>
      <th>描述</th>
      <th>授課老師</th>
      <th>直播人員 email 帳號</th>
      <th>點數</th>
      <th>修改</th>
    </tr>
  </thead>

  {{#each courseList}}
  <tbody>
    <tr>
      <td class="category">{{this.title}}</td>
      <td class="price">{{this.description}}</td>
      <td class="point">{{this.teacher}}</td>
      <td class="remark">{{this.email}}</td>
      <td class="term">{{this.point}}</td>
      <td class="buy">
        <a href="/{{../studio.subdomain}}/admin/course/{{this.id}}">修改</a>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>


{{else}}
<div class="about-title d-flex justify-content-center align-items-center">
  <p>暫無課程</p>
</div>
{{/if}}