{{> nav_admin_studio}}

<a href="/{{studio.subdomain}}/admin/courseDetail/create">上架課程</a>

{{#if courseDetailList}}
<table id="price-table">
  <thead id="price-head">
    <tr>
      <th>課程名稱</th>
      <th>上課日期</th>
      <th>上課時間</th>
      <th>時長(分鐘)</th>
      <th>人數上限</th>
      <th>是否開放線上</th>
      <th>線上課程人數上限</th>
      <th>上架日</th>
      <th>修改</th>
    </tr>
  </thead>

  {{#each courseDetailList}}
  <tbody>
    <tr>
      <td class="title">{{this.title}}</td>
      <td class="date">{{this.date}}</td>
      <td class="start_time">{{this.start_time}}</td>
      <td class="duration">{{this.duration}}</td>
      <td class="limitation">{{this.limitation}}</td>
      <td class="is_online">
        {{#compare this.is_online 1}}
        <span>是</span>
        {{else}}
        <span>否</span>
        {{/compare}}
      </td>
      <td class="online_limitation">{{this.online_limitation}}</td>
      <td class="publist_at">{{this.publish_at}}</td>
      <td class="buy">
        <a href="/{{../studio.subdomain}}/admin/courseDetail/{{this.id}}">修改</a>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>


{{else}}
<div class="about-title d-flex justify-content-center align-items-center">
  <p>暫無上架課程</p>
</div>
{{/if}}