{{> nav_admin_studio}}

<link rel="stylesheet" href="/style/admin_studio.css"></link>

<a href="/{{studio.subdomain}}/admin/courseDetail/create" class="studio-owner-create-btn">上架課程</a>

{{#if courseDetailList}}
<table class="admin-studio-table">
  <thead class="admin-studio-table-head">
    <tr>
      <th>課程名稱</th>
      <th>上課日期</th>
      <th>上課時間</th>
      <th>時長(分鐘)</th>
      <th>人數上限</th>
      <th>開放線上</th>
      <th>線上課程人數上限</th>
      <th>一對一</th>
      <th>上架日</th>
      <th>修改</th>
    </tr>
  </thead>

  {{#each courseDetailList}}
  <tbody>
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.date}}</td>
      <td>{{this.start_time}}</td>
      <td>{{this.duration}}</td>
      <td >{{this.limitation}}</td>
      <td>
        {{#compare this.is_online 1}}
        <i class="fas fa-check"></i>
        {{else}}
        <span>-</span>
        {{/compare}}
      </td>
      <td>{{this.online_limitation}}</td>
      <td>
        {{#compare this.is_oneOnOne 1}}
        <i class="fas fa-check"></i>
        {{else}}
        <span>-</span>
        {{/compare}}
      </td>
      <td>{{this.publish_at}}</td>
      <td class="admin-studio-edit-btn">
        <a href="/{{../studio.subdomain}}/admin/courseDetail/{{this.id}}">修改</a>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>


{{else}}
<div class="about-title d-flex justify-content-center align-items-center">
  <p>暫無上架課程</p>
</div>
{{/if}}