{{> nav_admin_studio}}

<a href="/{{studio.subdomain}}/admin/teacher/create">建立授課老師資料</a>

{{#if teacherList}}
<table id="price-table">
  <thead id="price-head">
    <tr>
      <th>頭像</th>
      <th>老師</th>
      <th>專業</th>
      <th>介紹</th>
      <th>修改</th>
    </tr>
  </thead>

  {{#each teacherList}}
  <tbody>
    <tr>
      <td class="avatar">{{this.avatar}}</td>
      <td class="name">{{this.name}}</td>
      <td class="major">{{this.major}}</td>
      <td class="introduction">{{this.introduction}}</td>
      <td class="buy">
        <a href="/{{../studio.subdomain}}/admin/teacher/{{this.id}}">修改</a>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>


{{else}}
<div class="about-title d-flex justify-content-center align-items-center">
  <p>暫無老師資料</p>
</div>
{{/if}}